<div class="container-fluid">
    <h2 class="text-center">Create a Quote</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">

    <form >
        <div class="form-group">
  
            <label for="quoteName">Quote</label>
            <textarea class="form-control" id="quoteName" rows="4"  name="name"required></textarea>   
        </div>
        
        <div class="form-group">
  
          
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author">
  
        </div>
        <div class="form-group">
            <label for="submitter">Submitter</label>
            <input type='text' class="form-control" id="submitter" required>
  
        </div>
        <button type="submit" class="btn btn-success">create quote</button>
    </form>
        </div>
        <div class="col-md-6">
           <!-- <h3>summary</h3>
            <ul>
                <li>{{newQuote.quoteName}}</li>
               
            </ul>-->
        </div>
    </div>
  </div>