<div class="container-fluid">
    <h2 class="text-center">Create a Quote</h2>
    <hr>
    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-8">

            <form (ngSubmit)='submitQuotes()' #quotesForm='ngForm'class="form text-center">
                <div class="form-group">

                    <label for="quoteName">Quote</label>
                    <textarea class="form-control" id="quoteName" rows="4" name="name" [(ngModel)]="newQuote.quoteName" required></textarea>
                </div>

                <div class="form-group">


                    <label for="author">Author</label>
                    <input type="text" required class="form-control" [(ngModel)]="newQuote.author" id="author">

                </div>
                <div class="form-group">
                    <label for="submitter">Submitter</label>
                    <input type='text' class="form-control" id="submitter" [(ngModel)]="newQuote.submitter" required>

                </div>
                <div class="form-group">

                    <label for="complete">Created on</label>
                    <input type='date' id="complete" required>
          
                </div>
                <button type="submit" class="btn btn-success">create quote</button>
            </form>
        </div>
        <div class="col-md-2">
        </div>
         <h3>summary</h3>
            <ul>
                <li>{{newQuote.quoteName}}</li>
               <li>{{newQuote.author}}</li>
               <li>{{newQuote.submitter}}</li>
            </ul>

    </div>
</div>