<div class="container-fluid">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'> 
        
        <div class="form-group">
  
            <label for="name">Quote</label>
            <textarea class="form-control" id="name" rows="4" [(ngModel)]="newQuote.name" name="name" #name='ngModel'  required></textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Quote is required</p>
              </div>
        </div>
        <div class="form-group">
  
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel">
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author is required</p>
              </div>

              
        </div>
        <div class="form-group">
  
            <label for="submitter">Submitter</label>
            <input type="text" required class="form-control" id="submitter"  [(ngModel)]="newQuote.submitter" name="submitter" #submitter="ngModel">
            <div [hidden]="submitter.valid || submitter.pristine" class="alert alert-danger">
                <p>Submitter is required</p>
              </div>
        </div>
        <div class="form-group">
            <label for="complete">Created on</label>
            <input type='date' id="complete" required  [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" >
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Date is required</p>
              </div>
  
        </div>
        <button type="submit" class="btn btn-success">Create Quote</button>
    </form>
  </div>