<div class="container-fluid">
    <h1 class="h1 text-center">My Quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <app-quotes-form  (addQuote)="addNewQuote($event)"></app-quotes-form>
         
         </div>
        <div class="col-md-6">
            <p>The written quote is displayed here. Click <strong>Quote details</strong> to checkout the quote details,see the sample quote below </p>
            <ul>
                <li *ngFor='let quote of quotes; let i = index'>
                    {{quote.name}} 
                    <button (click)='toggleDetails(i)' class="btn btn-primary">Quote Details</button>
                    <app-quote-detail  *ngIf='quote.showAuthor' [quote]='quote'></app-quote-detail>
                </li>
            </ul>
        
        </div>
   
    </div>
    
</div>