<div class="container-fluid">
    <h1 class="h1 text-center"><strong> My Quotes</strong></h1>
    <h5 class="h5 text-center"><strong><em>create your own quote today!</em></strong></h5>
    <hr>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>

        </div>
        <div class="col-md-2"></div>
       
    </div>
    <div class="card mt-5 text-center mb-5">
        <p>The written quote is displayed here. Click <strong>Quote details</strong> to checkout the quote details,see
            the sample quote below </p>

        <div *ngFor='let quote of quotes; let i = index'>

          
                <p appVoteCount *ngIf="highestUpVotebtn()===quote.upvotes && quote.upvotes>0">
                    {{quote.name}} <br>
                </p>
                <p *ngIf="highestUpVotebtn()!==quote.upvotes || quote.upvotes===0">" {{quote.name}} "
                </p>


                <button (click)='toggleDetails(i)' class="btn btn-primary">Quote Details</button>
                <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                </app-quote-detail>

        </div>
    </div>

</div>